.carousel__title {
    color: var(--orange);
    background-color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2.0rem 0 0.8rem 0;
    line-height: 2.7rem;
}

/* Swiper */

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    display: none;
}

.swiper .swiper-pagination {
    position: initial;
    margin: .8rem 0;
}

/* Card */
.card_container {
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    border-radius: 10px;
    margin: 1.6rem;
    padding: 1.6rem;
}

.card_container .card__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.card__desc .desc {
    margin-right: .5rem;
}

.card__desc .desc__title {
    color: var(--orange);
    font-weight: 700;
    line-height: 2.4rem;
}

.card__desc .desc__title-book {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: .8rem 0;
}

.card__desc .desc__text {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.card_container .card__buttons {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 1.3rem 0;
}

.card__buttons .buttons {
    display: flex;
}

.buttons .buttons__item {
    margin: 0 0.8rem;
}

.card__buttons .buttons__ancor {
    background-color: var(--orange);
    padding: 1.6rem 1.2rem;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 14rem;
}

/* Smaller phones */
@media screen and (width < 428px) {
    .card__desc img {
        width: 160%;
    }

    .card__desc .desc_stars {
        width: 70%;
    }

    .card__desc .desc__title {
        font-size: 1.4rem;
    }

    .card__desc .desc__title-book {
        font-size: 1.6rem;
    }

    .card__buttons .buttons__ancor {
        font-size: 1.4rem;
        width: 9rem;
    }
}

/* Tablet */
@media screen and (width >=1024px) {
    .carousel__title {
        font-size: 2.6rem;
    }

    /* Swiper */
    .swiper {
        width: 60%;
    }

    .swiper .swiper-pagination {
        margin: 3.2rem 0 4.8rem 0;
    }

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        display: flex;
        top: 60%;
        --swiper-navigation-size: 1.5rem;
        --swiper-navigation-color: var(--white);
        --swiper-navigation-sides-offset: .08rem;
        background: var(--dark-blue);
        background: var(--gradient-blue-moz);
        background: var(--gradient-blue-webkit);
        background: var(--gradient-blue);
        width: 4.7%;
        height: 9%;
        border-radius: 50%;
    } 

    /* Card */
    .card_container {
        width: 45%;
        margin: 4.5rem auto;
    }
}

@media screen and (width >= 1440px) {
    .carousel-div_container {
        display: flex;
        margin: 0 10vw 4.8rem 10vw;
    }

    .swiper {
        width: 55%;
    }

    .swiper img:hover {
        scale: 1.1;
    }

    .swiper-pagination {
        margin: 1.6rem 0;
    }

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        top: 55%;
    }

    .card_container {
        width: 60%;
        margin-left: 4.8rem;
    }

    .card__desc .desc {
        margin-right: 3.2rem;
    }

    .card__desc .desc__title {
        font-size: 3.2rem;
        line-height: 4.8rem;
    }

    .card__desc .desc__text {
        font-size: 1.6rem;
    }

}