.contact_container {
    background-color: var(--white);
    padding: 1.6rem;
}

.contact__title,
.contact__text {
    background: var(--gradient_blue);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
}

.contact__text {
    font-weight: 300;
    line-height: 2.4rem;
    margin: 1.6rem 0;
}

.contact__email {
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    border-radius: 24px;
    padding: 1.6rem;
    width: 90%;
}

.contact__email::placeholder {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--dark-blue);
    text-align: center;
    background: url(/src/assets/Email.svg) no-repeat 3.5rem;
    line-height: 2.1rem;
}