.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

.header__divs {
    display: flex;
    align-items: center;
}

.header__divs a {
    text-decoration: none;
}

.fa-fire,
.fa-house {
    font-size: 3.2rem;
    color: rgb(30, 40, 80);
}

.icons_container {
    padding: 1.6rem;
}

/* Hamburger Menu */
#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_list {
    left: 0 !important;
}

.menu_btn {
    position: absolute;
    top: 3.5rem;
    left: 2.0rem;
    width: 3.0rem;
    height: 3.0rem;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: var(--dark-blue);
    transition-duration: .25s;
}

#menu_toggle:checked + .menu_btn > span,
#menu_toggle:checked + .menu_btn > span::before,
#menu_toggle:checked + .menu_btn > span::after {
    background-color: var(--white);

}

.menu_btn > span::before {
    content: '';
    top: -0.8rem;
}

.menu_btn > span::after {
    content: '';
    top: 0.8rem;
}

.menu_list {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 29rem;
    height: 265%;
    margin: 0;
    padding: 8rem 0 10rem 0;
    list-style: none;
    /* Gradient - Compatibility */
    background: var(--dark-blue);
    background: var(--gradient-blue-moz);
    background: var(--gradient-blue-webkit);
    background: var(--gradient-blue);
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu_list__item:active {
    background: var(--orange);
}

.menu_list__item,
.menu_list__title {
    display: block;
    padding: 1.6rem 2.0rem;
    color: var(--white);
    text-decoration: none;
    transition-duration: .25s;
    text-transform: uppercase;
}

.menu_list__title {
    color: var(--orange);
    font-weight: 700;
    text-transform: capitalize;
}

.container__title,
.options-container,
.header__divs__texto {
    display: none;
}

/* Smaller phones */
@media screen and (width < 428px) {
    .menu_list {
        width: 19rem;
    }
}

/* Tablet */
@media screen and (width >= 1024px) {
    .hamburger_menu {
        display: none;
    }

    .container__title,
    .container__title--negrito {
        font-family: var(--font-title);
    }
    
    .container__title {
        font-size: 3rem;
        font-weight: 400;
        display: block;
    }

    .container__title--negrito {
        font-weight: 700;
    }

    .options-container {
        display: flex;
    }

    .options__item {
        padding: 0 1.6rem;
        text-transform: uppercase;
        cursor: pointer;
    }

    .options__link {
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--black);
    }

    .heart-icon {
        display: none;
    }

    .menu_list--big-screen {
        display: none;
        position: absolute;
        top: 100%;
        background-color: var(--white);
    }

    .options__btn {
        display: none;
    }

    .options__btn:checked ~ .menu_list--big-screen {
        display: block;
        width: auto;
    }

    .menu_list--big-screen .menu_list__item {
        color: var(--dark-blue);
    }

    .menu_list--big-screen .menu_list__item:hover {
        color: var(--white);
        background-color: var(--dark-blue);
        background: var(--gradient-blue-moz);
        background: var(--gradient-blue-webkit);
        background: var(--gradient-blue);
    }

    a .fa-fire,
    a .fa-house {
        display: none;
    }
}

/* Desktop */
@media screen and (width >= 1440px) {
    .header_container {
        padding: 0 3.2rem;
    }
    
    .header__divs__texto {
        display: block;
    }
    
    .header__divs a {
        display: flex;
        align-items: center;
        color: var(--black);
        text-decoration: none;
    }

    .options-container {
        margin-right: auto;
    }
}