.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

.header__divs {
    display: flex;
    align-items: center;
}

.icons_container {
    padding: 1.6rem;
}

/* Hamburger Menu */
#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_list {
    left: 0 !important;
}

.menu_btn {
    position: absolute;
    top: 3.5rem;
    left: 2.0rem;
    width: 3.0rem;
    height: 3.0rem;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: var(--dark-blue);
    transition-duration: .25s;
}

#menu_toggle:checked + .menu_btn > span,
#menu_toggle:checked + .menu_btn > span::before,
#menu_toggle:checked + .menu_btn > span::after {
    background-color: var(--white);

}

.menu_btn > span::before {
    content: '';
    top: -0.8rem;
}

.menu_btn > span::after {
    content: '';
    top: 0.8rem;
}

.menu_list {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 30rem;
    height: 25%;
    margin: 0;
    padding: 8rem 0 10rem 0;
    list-style: none;
    /* Gradient - Compatibility */
    background: var(--dark-blue);
    background: var(--gradient-blue-moz);
    background: var(--gradient-blue-webkit);
    background: var(--gradient-blue);
    box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu_list__item {
    display: block;
    padding: 1.6rem 2.0rem;
    color: var(--white);
    text-decoration: none;
    transition-duration: .25s;
    text-transform: uppercase;
}

.menu_list__title {
    color: var(--orange);
    font-weight: 700;
    text-transform: capitalize;
}

/* .hamburger_menu {
    width: 2.4rem;
    height: 2.4rem;
    background: url(/src/assets/Menu.svg) no-repeat;
    display: inline-block;
    align-self: center;
}

.hamburger_menu span {
    display: none;
} */